PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=archiva_db
DB_USER=root
DB_PASSWORD=

# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760

NODE_ENV=development
